@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 24px !important;
}

.d1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 80px !important;
}

.d2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 72px !important;
}

.d3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 64px !important;
}

.d4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 56px !important;
}

.d5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 48px !important;
}

.d6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 42px !important;
}

h1, .h1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 40px !important;
}

h2, .h2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 32px !important;
}

h3, .h3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 28px !important;
}

h4, .h4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 24px !important;
}

h5, .h5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 20px !important;
}

h6, .h6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 16px !important;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  color: #6366F1;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.menu-link {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.menu-link:hover, .menu-link:active, .menu-link:focus,
.menu-link .active {
  color: #6366F1;
  text-decoration: none;
}

.btn-theme {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #6366F1;
  color: #FFFFFF;
  border: none;
}
.btn-theme:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-theme-s {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  background: #6366F1;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 13px;
}
.btn-theme-s:hover {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-gray {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #EFF2FC;
  color: #33354D;
  border: none;
}
.btn-gray:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.purple-btn {
  color: #ffFfFF;
  background-color: #6366F1;
  border: 1px solid #6366F1;
  border-radius: 7px;
  height: 50px;
  width: 160px;
  margin-top: 40px;
}

.btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-switch label {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
}
.btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
}
.btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .switch input:checked + .slider {
  background-color: #6366F1;
}
.btn-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}
.btn-switch .switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #FFFFFF;
}
.btn-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
}
.btn-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.7px;
  background-color: #FFFFFF;
  transition: 0.4s;
}
.btn-switch .switch .slider.round {
  border-radius: 34px;
}
.btn-switch .switch .slider.round:before {
  border-radius: 50%;
}

.btn-social {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background-color: #EFF2FC;
  color: #33354D;
}
.btn-social:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.course-card {
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.course-card__image {
  height: 250px;
}
@media (max-width: 1400px) {
  .course-card__image {
    height: 200px;
  }
}
@media (max-width: 1200px) {
  .course-card__image {
    height: 180px;
  }
}
@media (max-width: 768px) {
  .course-card__image {
    height: 250px;
  }
}
.course-card .course-card__image {
  position: relative;
}
.course-card #flag {
  border-radius: 50%;
  z-index: 2;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 5%;
  top: 5%;
}
.course-card .best-seller {
  position: absolute;
  padding: 0px 10px;
  background-color: rgb(57, 193, 57);
  border-radius: 5px;
  top: 5%;
  left: 5%;
  z-index: 2;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  color: #eee5e5;
  font-size: small;
}
.course-card .line {
  margin-bottom: -15px;
}
.course-card__body {
  padding: 1rem;
}
.course-card__footer {
  padding: 1rem;
}

#courses .home {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#courses .home #home-text {
  margin-left: -10px;
  color: #7d7878;
  margin-right: 20px;
}
#courses .home p {
  margin-bottom: 0px;
  color: #7d7878;
  margin-right: 20px;
}
#courses .home #house {
  height: 50px;
  width: 50px;
  margin-top: -3px;
}
#courses .grid {
  display: grid;
  gap: 2rem 2rem;
}
@media (min-width: 768px) {
  #courses .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  #courses .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
#courses .courses-categories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  #courses .courses-categories {
    display: block;
  }
}
#courses .courses-categories .categories-search {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  #courses .courses-categories .categories-search {
    margin-bottom: 20px;
  }
}
#courses .courses-categories .categories-search #categories {
  height: 40px;
  width: 200px;
  padding-left: 10px;
  border-radius: 5px;
  color: #7d7878;
  border-color: #c0b8b8;
}
#courses .courses-categories .categories-search .search-container {
  position: relative;
  margin-left: 20px;
}
#courses .courses-categories .categories-search #search {
  padding-right: 30px;
  height: 40px;
  width: 300px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #c0b8b8;
  outline: none;
}
@media (max-width: 990px) {
  #courses .courses-categories .categories-search #search {
    width: 200px;
  }
}
#courses .courses-categories .categories-search .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
#courses .course-card .price {
  color: #6366F1;
  font-weight: 700;
}
#courses .course-card .prices {
  display: flex;
}
#courses .course-card .price-discount {
  color: red;
  font-weight: 700;
  margin-bottom: 0px;
}
#courses .course-card .price-full {
  margin-left: 10px;
  margin-bottom: 0px;
}
#courses .course-card__footer {
  display: flex;
  gap: 2rem;
}
#courses .course-card__footer div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#courses .course-card__footer p {
  margin: 0;
}
#courses .slide-selection {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
#courses .slide-selection .pagination {
  display: inline-block;
}
#courses .slide-selection .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
#courses .slide-selection .pagination a.active {
  background-color: #6366F1;
  color: white;
  border-radius: 5px;
}
#courses .slide-selection .pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
#courses .blue {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #F3F6FF;
  padding-top: 40px;
  padding-bottom: 40px;
}
#courses .blue #text {
  padding: 110px;
}
#courses .blue #text h3 {
  font-weight: 400;
  color: #7d7878;
}
#courses .blue #text span {
  color: #6366F1;
}
#courses .icon {
  display: flex;
  margin-top: 100px;
  margin-bottom: 30px;
  justify-content: center;
}
#courses .icon img {
  margin: 20px;
  height: 44px;
  width: 44px;
}
#courses .copyright {
  display: flex;
  margin-bottom: 40px;
}
#courses .copyright h5 {
  padding: 0% 10% 0% 10%;
  text-align: center;
  color: #c0b8b8;
  font-weight: 400;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
}

header {
  padding: 15px 0;
  position: relative;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo mobile";
  gap: 40px;
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo menu switch buttons";
  }
}
header .container #profile-icon {
  display: none;
}
@media (min-width: 992px) {
  header .container #profile-icon {
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}
header .container span {
  margin-left: 10px;
  margin-right: 10px;
}
header .container #logo {
  grid-area: logo;
}
@media (max-width: 992px) {
  header .container #logo {
    width: 180px;
    height: 65px;
  }
}
header .container #menu {
  grid-area: menu;
  display: none;
}
@media (min-width: 992px) {
  header .container #menu {
    display: block;
  }
}
header .container #menu nav {
  margin-top: 3px;
  display: flex;
  gap: 15px;
}
header .container .btn-switch {
  grid-area: switch;
  display: none;
}
@media (min-width: 992px) {
  header .container .btn-switch {
    display: block;
    margin-top: 3px;
  }
}
header .container .account-buttons {
  grid-area: buttons;
  display: none;
  gap: 15px;
  margin-top: 3px;
}
@media (min-width: 992px) {
  header .container .account-buttons {
    display: flex;
  }
}
header .container .btn-mobile {
  grid-area: mobile;
  display: block;
}
@media (min-width: 992px) {
  header .container .btn-mobile {
    display: none;
  }
}
header .container .btn-mobile .btn {
  font-size: 1.4rem;
}
header #mobile-menu {
  box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06), 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1);
  padding: 1rem;
  transform: translateX(-100%);
  transition: transform 300ms ease-out;
  position: absolute;
  top: 100%;
  background-color: #fff;
  width: 100%;
}
header #mobile-menu, header #mobile-menu nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
header #mobile-menu .account-buttons {
  display: flex;
  gap: 2rem;
}
@media (min-width: 992px) {
  header #mobile-menu {
    display: none;
  }
}
header #mobile-menu[aria-expanded=true] {
  transform: translateX(0);
}

footer {
  padding: 50px 0 30px 0;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
  color: #9397AD;
}
footer .container {
  text-align: center;
}
footer .container .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.footer-icon .icon {
  display: flex;
  margin-top: 100px;
  margin-bottom: 30px;
  justify-content: center;
}
.footer-icon .icon img {
  margin: 20px;
  height: 44px;
  width: 44px;
}
.footer-icon .copyright {
  display: flex;
  margin-bottom: 40px;
}
.footer-icon .copyright h5 {
  padding: 0% 10% 0% 10%;
  text-align: center;
  color: #c0b8b8;
  font-weight: 400;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
}

#main {
  position: relative;
}
#main .startpage {
  display: flex;
  margin-top: 100px;
}
#main .startpage #management {
  margin-right: 60%;
}
@media (max-width: 1200px) {
  #main .startpage #management {
    margin: 0;
  }
}
#main .startpage #management img {
  margin-top: 50px;
  margin-right: 30px;
  height: 25px;
  width: 100px;
}
#main .startpage #management #logoipsum {
  margin-right: 0px;
}
#main .startpage #management .purple-btn {
  margin-bottom: 60px;
}
@media (min-width: 992px) {
  #main .startpage #management .purple-btn {
    width: 200px;
  }
}
#main .startpage #management h1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 56px !important;
}
#main .startpage #management h5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
  margin-top: 20px;
  font-weight: 300;
}
#main .startpage #management #bold {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
  font-weight: 800;
}
#main #dashboarddiv img {
  position: absolute;
  width: auto;
  top: -40px;
  right: 0;
  height: 900px;
}
@media (max-width: 1200px) {
  #main #dashboarddiv img {
    display: none;
  }
}
@media (max-width: 1600px) {
  #main #dashboarddiv img {
    width: 900px;
    height: auto;
  }
}
@media (max-width: 1400px) {
  #main #dashboarddiv img {
    width: 700px;
    height: auto;
  }
}

#tool {
  margin-top: 250px;
  background-color: rgba(99, 101, 241, 0.1960784314);
  padding-top: 60px;
  padding-bottom: 100px;
}
#tool .bluepage {
  display: block;
  margin-bottom: 40px;
}
#tool .bluepage h1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 42px !important;
  text-align: center;
}
#tool .bluepage h5 {
  text-align: center;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
  margin-top: 20px;
  font-weight: 300;
}
#tool .toolselection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "task analytics assigness" "notifications sections security";
  -moz-column-gap: 0;
       column-gap: 0;
  grid-gap: 0;
}
@media (max-width: 768px) {
  #tool .toolselection {
    display: block;
  }
}
@media (max-width: 1200px) {
  #tool .toolselection {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "task analytics" "assigness notifications " "sections security";
  }
}
#tool .toolselection div:hover {
  border-radius: 10px;
  background-color: #f3f3f3;
  border: none;
}
#tool .toolselection #toolbox {
  padding: 40px;
}
@media (max-width: 1200px) {
  #tool .toolselection #toolbox {
    height: 310px;
  }
}
@media (max-width: 768px) {
  #tool .toolselection #toolbox {
    height: 400px;
  }
}
#tool .toolselection .task {
  border-right: 1px solid rgba(166, 163, 163, 0.104);
  border-bottom: 1px solid rgba(166, 163, 163, 0.104);
}
#tool .toolselection .analytics {
  border-right: 1px solid rgba(166, 163, 163, 0.104);
  border-bottom: 1px solid rgba(166, 163, 163, 0.104);
  border-left: 1px solid rgba(166, 163, 163, 0.104);
}
#tool .toolselection .assigness {
  border-left: 1px solid rgba(166, 163, 163, 0.104);
  border-bottom: 1px solid rgba(166, 163, 163, 0.104);
}
#tool .toolselection .notifications {
  border-right: 1px solid rgba(166, 163, 163, 0.104);
  border-top: 1px solid rgba(166, 163, 163, 0.104);
}
#tool .toolselection .sections {
  border-right: 1px solid rgba(166, 163, 163, 0.104);
  border-top: 1px solid rgba(166, 163, 163, 0.104);
  border-left: 1px solid rgba(166, 163, 163, 0.104);
}
#tool .toolselection .security {
  border-top: 1px solid rgba(166, 163, 163, 0.104);
  border-left: 1px solid rgba(166, 163, 163, 0.104);
}
#tool .toolselection img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 40px;
  margin-bottom: 30px;
}
#tool .toolselection h3 {
  text-align: center;
}
#tool .toolselection h5 {
  text-align: center;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
  margin-top: 20px;
  font-weight: 300;
}

#light-dark-screen {
  background-image: linear-gradient(90deg, #0B0F19 50%, white 50%);
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  #light-dark-screen {
    display: none;
  }
}
#light-dark-screen .light-dark-background {
  display: block;
}
#light-dark-screen .light-dark-background .head {
  display: flex;
  justify-content: center;
}
#light-dark-screen .light-dark-background .head .white {
  color: white;
}
#light-dark-screen .light-dark-background .head h1 {
  margin-left: 30px;
}
#light-dark-screen .light-dark-background img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-top: 50px;
}

#manage-page {
  margin: 40px;
}
#manage-page .container #work {
  margin-right: -30px;
}
@media (max-width: 768px) {
  #manage-page .container #work {
    margin-right: 0px;
  }
}
#manage-page .container #task-master {
  margin-left: -30px;
}
@media (max-width: 768px) {
  #manage-page .container #task-master {
    display: none;
  }
}
#manage-page .container h3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 32px !important;
  margin-bottom: 20px;
}
#manage-page .container #line {
  display: flex;
}
#manage-page .container #line #checkmark {
  width: 15px;
  margin-right: 10px;
  margin-top: 5px;
}
#manage-page .container .purple-btn img {
  margin-bottom: 2px;
  margin-left: 10px;
  height: 12px;
  width: 12px;
}

.apps {
  margin-top: 40px;
  background-color: #F3F6FF;
}

.email-subscription {
  padding-top: 100px;
  background-color: #F3F6FF;
}
.email-subscription .container {
  display: block;
  width: 50%;
}
@media (max-width: 1700px) {
  .email-subscription .container {
    width: 60%;
  }
}
.email-subscription .container #head {
  display: flex;
}
@media (max-width: 996px) {
  .email-subscription .container #head {
    width: 100%;
  }
}
.email-subscription .container #head img {
  margin-left: 20px;
  width: auto;
}
@media (max-width: 1145px) {
  .email-subscription .container #head img {
    display: none;
  }
}
.email-subscription .grid {
  margin-top: 20px;
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: start;
}
@media (max-width: 768px) {
  .email-subscription .grid {
    display: block;
  }
}
.email-subscription .grid .block {
  margin-right: 10px;
}
@media (max-width: 1360px) {
  .email-subscription .grid .block {
    margin-right: 0px;
  }
}
.email-subscription .grid #daily {
  margin-bottom: 10px;
}
@media (max-width: 1360px) {
  .email-subscription .grid #daily {
    height: 60px;
  }
}
@media (max-width: 768px) {
  .email-subscription .grid #daily p {
    margin-top: 17px;
  }
}
.email-subscription .grid #advertising {
  margin-bottom: 10px;
}
@media (max-width: 1360px) {
  .email-subscription .grid #advertising {
    height: 60px;
  }
}
@media (max-width: 768px) {
  .email-subscription .grid #advertising p {
    margin-top: 17px;
  }
}
.email-subscription .grid #week {
  margin-bottom: 10px;
}
@media (max-width: 1360px) {
  .email-subscription .grid #week {
    height: 60px;
  }
}
@media (max-width: 768px) {
  .email-subscription .grid #week p {
    margin-top: 17px;
  }
}
@media (max-width: 1360px) {
  .email-subscription .grid #event {
    height: 60px;
  }
}
@media (max-width: 768px) {
  .email-subscription .grid #event p {
    margin-top: 17px;
  }
}
@media (max-width: 1360px) {
  .email-subscription .grid #startup {
    height: 60px;
  }
}
@media (max-width: 768px) {
  .email-subscription .grid #startup p {
    margin-top: 17px;
  }
}
@media (max-width: 1360px) {
  .email-subscription .grid #podcast {
    height: 60px;
  }
}
@media (max-width: 768px) {
  .email-subscription .grid #podcast p {
    margin-top: 17px;
  }
}
.email-subscription .grid .box {
  display: flex;
}
.email-subscription .grid .box input {
  margin-right: 10px;
  width: 20px;
  opacity: 0.5;
}
@media (max-width: 1360px) {
  .email-subscription .grid .box input {
    width: auto;
  }
}
.email-subscription .grid .box p {
  margin: 0px;
}
.email-subscription .grid #sign-up {
  margin-right: 40px;
}
@media (max-width: 1360px) {
  .email-subscription .grid #sign-up {
    margin-right: 0px;
  }
}
.email-subscription .subscribe {
  width: 100%;
  display: flex;
  padding: 0px;
  align-items: baseline;
  justify-content: start;
  gap: 20px;
}
@media (max-width: 768px) {
  .email-subscription .subscribe {
    display: block;
  }
}
.email-subscription .subscribe .email {
  position: relative;
  width: 100%;
}
.email-subscription .subscribe .email input {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.777);
  opacity: 0.5;
  height: 50px;
  border-radius: 10px;
  padding-left: 40px;
}
.email-subscription .subscribe .email img {
  position: absolute;
  width: auto;
  height: auto;
  top: 18px;
  left: 15px;
}
.email-subscription .policy {
  width: 100%;
  padding: 0;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.439);
  padding-bottom: 100px;
}
.email-subscription .policy a {
  text-decoration: underline;
}

.sign-in-page .container {
  width: 30%;
  margin-top: 120px;
}
@media (max-width: 1200px) {
  .sign-in-page .container {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .sign-in-page .container {
    width: 50%;
  }
}
.sign-in-page .container form input {
  border: 1px solid #D4D7E5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}
.sign-in-page .container .flex {
  display: flex;
}
.sign-in-page .container .flex p {
  margin-left: 10px;
}
.sign-in-page .container .purple-btn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.sign-in-page .container #forgot-password {
  display: flex;
  justify-content: center;
}
.sign-in-page .container img {
  width: auto;
}
.sign-in-page .container .social-network {
  margin-top: 30px;
}
.sign-in-page .container .social-network p {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.sign-in-page .container .buttons {
  display: flex;
  justify-content: space-between;
}
.sign-in-page .container .buttons .gray-box {
  width: 48%;
}
.sign-in-page .container .buttons .gray-box .btn-gray {
  width: 100%;
}
.sign-in-page .container .buttons .gray-box .btn-gray p {
  margin-bottom: 0px;
}
.sign-in-page .foot {
  text-align: center;
  width: 50%;
}
.sign-in-page .foot p {
  color: #9397AD;
}

.sign-up-page .container {
  width: 30%;
  margin-top: 120px;
}
@media (max-width: 1200px) {
  .sign-up-page .container {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .sign-up-page .container {
    width: 50%;
  }
}
.sign-up-page .container form input {
  border: 1px solid #D4D7E5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}
.sign-up-page .container #full-name {
  display: flex;
  justify-content: space-between;
}
.sign-up-page .container #full-name #box {
  display: block;
  width: 48%;
}
.sign-up-page .container .flex {
  display: flex;
}
.sign-up-page .container .flex p {
  margin-left: 10px;
}
.sign-up-page .container .purple-btn {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.sign-up-page .foot {
  text-align: center;
  width: 50%;
}
.sign-up-page .foot p {
  color: #9397AD;
}