.sign-in-page {
    
    .container {



        @media (max-width: 1200px) {
            width: 40%;
        }

        @media (max-width: 800px) {
            width: 50%;
        }


        width: 30%;

       
        margin-top: 120px;
        

        form {
           
            input {
                border: 1px solid #D4D7E5;
                padding: 10px;
                border-radius: 5px;
                margin-bottom: 20px;
                width: 100%;
            }
        }

        .flex {
            display: flex;

            p {
                margin-left: 10px;
            }
        }

        .purple-btn {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        #forgot-password {
            display: flex;
            justify-content: center;
        }
      
        img {
            width: auto;
        }

        .social-network {
            
            
            margin-top: 30px;
            
            p {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            .gray-box {
                width: 48%;

                .btn-gray {
                    width: 100%;

                    p {
                        margin-bottom: 0px;
                    }
                }
            }
            
        }

    
    }

    .foot {
    
        text-align: center;
        width: 50%;

       
        p {

            color: #9397AD;
        }

    }

    
}