#courses {
    
    
    
    .grid {
        
        display: grid;
        gap: 2rem 2rem;
        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }

    }


    .courses-categories {
        display: flex;
        justify-content: space-between;
        margin-bottom:  0px;
        padding: 0px;

        #courses {
            margin-bottom: 40px;
            margin-top: 10px;
        }
       

        .categories-search {
            display: flex;
            align-items: center;
            
            
            #categories {
              height: 40px;
              width: 200px;
              padding-left: 10px;
              border-radius: 5px;
              color: #7d7878;
              border-color: #c0b8b8;

              
              
            }


            .search-container {
                position: relative;
                margin-left: 20px;
                
            }
            
            #search {
                padding-right: 30px;
                height: 40px;
                width: 300px;
                padding-left: 15px;
                border-radius: 5px;
                border: 1px solid #c0b8b8; 
                outline: none;
            }
            
            .fa-magnifying-glass {
                position: absolute;
                top: 50%;
                right: 15px; 
                transform: translateY(-50%);
            }

           
        }
     
    }
  

    .course-card {
        
        
        .price {
            color: $theme;
            font-weight: 700;
        }

        .prices {
            display: flex;
            
        }

        .price-discount {
            color: red;
            font-weight: 700;
            margin-bottom: 0px;
            
        }

        .price-full {
            margin-left: 10px;
            margin-bottom: 0px;
            
        }

        

        &__footer {
            display: flex;
            gap: 2rem;

            div {
                display: flex;
                align-items: center;
                gap: .5rem;
            }

            p {
                margin: 0;
            }
        }
    }
}