.course-card {

    &__image {

        height: 250px;

        @media (max-width: 1400px) {
            height: 200px;
        }
        
        @media (max-width: 1200px) {
            height: 180px;
        }  

        @media (max-width: 768px) {
            height: 250px;
        }  
            
        
    }

    
    

    @include shadow-s; 
    border-radius: 1rem;
    overflow: hidden;
    position: relative;

    .course-card__image {
        position: relative;
        

    
        
    }

   
    
    #flag {
        border-radius: 50%;
        z-index: 2;
        height: 30px;
        width: 30px;
        position: absolute;
        right: 5%;
        top: 5%;
         
    }

    .best-seller {
        position: absolute;
        padding: 0px 10px;
        background-color: rgb(57, 193, 57);
        border-radius: 5px;
        top: 5%;
        left: 5%;
        z-index: 2;
        text-decoration: #fff;
        color: #eee5e5;
        font-size: small;
    }


    .line {
        margin-bottom: -15px;
    }


    &__body {
        padding: 1rem;
    }

    &__footer {
        padding: 1rem;
    }
}